[Unit]
Description=Web Services Dynamic Discovery API socket
Documentation=https://github.com/kristof-mattei/wsdd-rs

[Socket]
ListenStream=%t/wsdd-rs.socket

[Install]
WantedBy=sockets.target
